@media screen and (max-width: 1024px) {
  .container-fluid {
    padding: 0;
  }
  .bg header li {
    font-size: 16px;
  }
  .bg .pic {
    height: 550px;
  }
  .section-second h2 {
    text-align: left;
    font-size: 30px;
  }
  .third-section {
    padding-top: 120px;
    margin: 30px 0 117px 0;
  }
  .third-section img {
    margin-left: 20px;
  }
  .section-fifth {
    width: 100%;
    padding-bottom: 120px;
  }
  .section-fifth .box {
    height: 286px;
    max-width: 290px;
    width: 100%;
  }
  .section-fifth {
    margin-bottom: 75px;
    padding-bottom: 120px;
  }
  .section-fifth .row {
    padding: 0;
  }
  .section-fifth h2 {
    margin: 60px 0 30px 0;
  }
  .section-sixth .pic {
    margin: 80px 30px 0 78px;
  }
}

@media (max-width: 768px) {
  .pic.col-md-12 {
    background-size: 67%;
  }
  .section-second h2 {
    font-size: 30px;
  }
  .bg h1 {
    margin-top: 0px;
  }
  .third-section {
    padding-top: 54px;
    margin: 30px 0 68px 0;
  }
  .section-fourth .scale {
    height: 289px;
    width: 100%;
    margin-bottom: 85px;
  }
  .section-fifth .box {
    margin: 13px;
    height: 200px;
    max-width: 213px;
    width: 100%;
  }
  .section-fifth {
    margin-bottom: 55px;
    padding-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .bg .row {
    display: initial;
  }
  .bg header li {
    margin: 24px 46px 0px 18px;
    font-size: 13px;
  }
  .logo img {
    margin: 40px 0 0 31px;
    width: 136px;
  }
  .bg .info h1 {
    font-size: 55px;
    margin-top: 0px;
  }
  .bg .info h4 {
    font-size: 13px;
    text-align: center;
  }
  .bg .info button {
    max-width: 135px;
    font-size: 14px;
    padding: 10px;
  }
  .bg .pic {
    background-size: 100%;
    height: 428px;
  }
  .section-second {
    text-align: center;
  }
  .section-second button {
    margin-bottom: 15px;
  }
  .section-second .imagebg {
    height: 287px;
  }
  .third-section .justify-content-around img {
    margin-left: 22%;
    margin-bottom: 15px;
    width: 45%;
  }
  .third-section {
    margin: 50px 0 40px 0;
    padding-top: 25px;
  }
  .third-section .justify-content-around h4 {
    margin-bottom: 56px;
    font-size: 16px;
  }
  .section-fourth .scale {
    height: 161px;
    width: 100%;
    margin-bottom: 50px;
  }
  .section-fifth .box {
    margin: 6px;
    height: 160px;
    max-width: 190px;
    width: 100%;
  }
  .section-fifth .row {
    padding: 0;
  }
  .section-sixth {
    width: 100%;
  }
  .section-sixth .owl-carousel {
    max-width: 350px;
    padding-bottom: 15px;
    padding-right: 0px;
  }
  .section-sixth .pic {
    margin: 20px 4px 0 10px;
  }
  .section-sixth h3 {
    font-size: 25px;
    margin-top: 14px;
  }
  .section-sixth p {
    text-transform: capitalize;
    font-size: 13px;
  }
  .section-sixth h2 {
    font-size: 33px;
    margin-bottom: 30px;
  }
  .section-sixth .pic {
    height: 110px;
    max-width: 110px;
    width: 96%;
    margin: 20px 0px 0 0px;
  }
  .section-seventh {
    padding: 35px 0 35px 0;
    margin: 55px 0 55px 0;
  }
  .section-seventh li {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .bg {
    margin-bottom: 30px;
  }
  .bg .info h1 {
    font-size: 50px;
  }
  .bg .info h4 {
    font-size: 16px;
  }
  .bg .row {
    display: initial;
  }
  .logo img {
    margin: 41px 0 0 12px;
    width: 145%;
  }
  .bg li {
    margin: 27px 33px -11px 18px;
  }
  .bg li:hover {
    border-bottom: solid 2px transparent;
  }
  .bg .info button {
    max-width: 135px;
    font-size: 14px;
    padding: 10px;
  }
  .pic.col-md-12 {
    background-size: 99%;
    height: 378px;
  }
  .section-second .imagebg {
    width: 84%;
    max-width: 315px;
    height: 245px;
  }
  .section-second h2 {
    font-size: 34px;
  }
  .section-second {
    text-align: center;
  }
  .section-second button {
    margin-bottom: 15px;
  }
  .third-section {
    margin: 39px 0 30px 0;
  }
  .third-section h2 {
    font-size: 30px;
  }
  .section-fifth .box {
    margin: 6px;
    height: 130px;
    max-width: 167px;
    width: 100%;
  }
  .third-section .justify-content-around img {
    margin-left: 26%;
    margin-bottom: 15px;
    width: 42%;
  }
  .third-section .justify-content-around h4 {
    margin-bottom: 56px;
    font-size: 16px;
  }
  .section-fourth h2 {
    font-size: 30px;
  }
  .section-fourth .scale {
    height: 147px;
    width: 100%;
    margin-bottom: 40px;
  }
  .section-fifth .row {
    padding: 0;
  }
  .section-sixth .owl-carousel {
    max-width: 350px;
    padding-bottom: 38px;
    padding-right: 0px;
  }
  .section-sixth .pic {
    margin: 20px 4px 0 10px;
  }
  .section-sixth h3 {
    font-size: 25px;
    margin-top: 14px;
  }
  .section-sixth p {
    text-transform: capitalize;
    font-size: 12px;
  }
  .section-sixth h2 {
    font-size: 33px;
    margin-bottom: 30px;
  }
  .section-sixth .pic {
    height: 110px;
    max-width: 110px;
    width: 96%;
    margin: 20px 0px 0 0px;
  }
  .section-seventh {
    padding: 35px 0 35px 0;
    margin: 55px 0 55px 0;
  }
}

@media (max-width: 360px) {
  .bg .info h1 {
    font-size: 46px;
  }
  .bg .info h4 {
    font-size: 13px;
  }
  .bg .info button {
    max-width: 120px;
    font-size: 13px;
    padding: 6px;
  }
  .section-second h2 {
    font-size: 34px;
  }
  .section-second {
    text-align: center;
  }
  .section-second button {
    margin-bottom: 15px;
  }
  .third-section .justify-content-around img {
    margin-left: 24%;
    margin-bottom: 15px;
    width: 36%;
  }
  .third-section .justify-content-around h4 {
    margin-bottom: 56px;
    font-size: 13px;
  }
  .section-fourth .scale {
    height: 144px;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 320px) {
  .bg .info h1 {
    font-size: 43px;
  }
  .bg .info button {
    max-width: 107px;
    font-size: 13px;
    padding: 6px;
  }
  .logo img {
    margin: 41px 0 0 12px;
    width: 100%;
  }
  .bg header li {
    margin: 18px 46px 0px 18px;
    font-size: 13px;
  }
  .bg .info h1 {
    font-size: 40px;
  }
  .bg .info h4 {
    font-size: 12px;
  }
  .pic.col-md-12 {
    background-size: 100%;
    height: 324px;
  }
  .section-second .imagebg {
    height: 205px;
  }
  .third-section .justify-content-around img {
    margin-left: 40%;
    margin-bottom: 15px;
    width: 30%;
  }
  .third-section .justify-content-around h4 {
    margin-bottom: 56px;
    font-size: 13px;
  }
  .section-fourth .scale {
    height: 122px;
    width: 100%;
    margin-bottom: 37px;
  }
  .section-fifth .box {
    margin: 6px;
    height: 120px;
    max-width: 147px;
    width: 100%;
  }
  .section-fifth h2 {
    font-size: 30px;
    margin: 35px 0 30px 0;
  }
  .section-sixth .pic {
    height: 90px;
    max-width: 90px;
    width: 96%;
    margin: 20px 0px 0 0px;
  }
}
/*# sourceMappingURL=@media-screen.css.map */